<script src="https://kit.fontawesome.com/01eec32553.js"></script>
<ul class="social">
  <li><a href="{{ site.author.github }}" target="_blank"><i class="fab fa-github"></i></a></li>
  <li><a href="{{ site.author.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
  <li><a href="{{ site.author.facebook }}" target="_blank"><i class="fab fa-facebook"></i></a></li>
  <li><a href="{{ site.author.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="{{ site.author.kaggle }}" target="_blank"><i class="fab fa-kaggle"></i></a></li>
</ul>