<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include google_analytics.html %}
    <main>
      {% include header.html %}
<div class="main-container">
<div class="tile is-ancestor is-vertical">
    <div class="tile is-parent">
      <div class="tile is-8 is-child main">

        {{ content }}

      </div>

      <div class="tile is-4 is-child">
        <div class="tile is-parent is-vertical sidebar">

          <div class="tile is-child widget">

            <div class="card">
              <header class="card-header">
                <p class="card-header-title nice-title">
                  Recent Posts
                </p>
              </header>
              <div class="card-content">
                <div class="content nice-text">
                  <ul>
                  {% for post in site.posts limit:3 %}
                  <li><a href="{{ post.url }}">
                    {{ post.title }}
                  </a></li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>


          <div class="tile is-child widget">

            <div class="card">
              <header class="card-header">
                <p class="card-header-title nice-title">
                  Archives
                </p>
              </header>
              <div class="card-content">
                <div class="content nice-text">

{% assign counter = 0 %}
{% for post in site.posts %}
{% comment %}
  {% assign thisyear = post.date | date: "%B %Y" %}
  {% assign prevyear = post.previous.date | date: "%B %Y" %}
{% endcomment %}
  {% assign thisyear = post.date | date: "%Y" %}
  {% assign prevyear = post.previous.date | date: "%Y" %}
  {% assign counter = counter | plus: 1 %}
  {% if thisyear != prevyear %}
    <a href="{{site.baseurl}}/year-archive/#{{thisyear}}" style="margin-right:0.3em;">{{ thisyear }}({{counter}})</a></br>
    {% assign counter = 0 %}
  {% endif %}
{% endfor %}
                </div>
              </div>
            </div>
          </div>

          <div class="tile is-child widget">

            <div class="card">
              <header class="card-header">
                <p class="card-header-title nice-title">
                  Tags
                </p>
              </header>
              <div class="card-content">
                <div class="content nice-text">
<ul class="tag-cloud">
{% for tag in site.tags %}
    {% assign num = tag[1]|size %}

    <a href="{{site.baseurl}}/tags/#{{ tag | first | slugize }}" style="margin-right:0.3em;">
      {{ tag | first }}({{num}})
    </a>
</br>
{% endfor %}
</ul>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
</div>
</div>

      {% include footer.html %}


      <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
      <script>
      $(document).ready(function() {
        $('.sliding-panel-button,.sliding-panel-fade-screen,.sliding-panel-close').on('click touchstart',function (e) {
          $('.sliding-panel-content,.sliding-panel-fade-screen').toggleClass('is-visible');
          e.preventDefault();
        });
      });
      </script>
    </main>
  </body>
</html>
